// Font Weight

$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;

// color

$white-color: white;
$grey-color: #4a5568;
$black-color: #1a202c;
$gradiant-color: var(
  --Gradient-Primary-bg,
  linear-gradient(225deg, #f76680 0%, #57007b 100%)
);

// Font

$fs-16: 1.6rem;
$fs-18: 1.8rem;
$fs-30: 3rem;
$fs-45: 4.5rem;

// utility clasess

.cursor-pointer {
  cursor: pointer;
}
